@use '../util/breakpoints.scss' as *;
@use '../util/functions.scss' as *;
@use '../util/mixins.scss' as *;


.hero {
    background-image: url(/images/home-bgimg.png);
    background-repeat: no-repeat;
    color: white;
    position: relative;

    @include breakpoint-up(large) {
        background-position: center center;
    }

    * {
        z-index: 2;
    }

    h1 {
        z-index: 1;
    }

    &::before {
        background: linear-gradient(200.44deg, rgba(0, 0, 0, 0.0001) 16.41%, rgba(0, 0, 0, 0.51) 77.16%);
        content: '';
        display: block;
        height: 95%;
        position: absolute;
        width: 100% !important;
        left: 0;
        right: 0;
    }

    &__container {


        .mapCtn {
            #map {
                width: min(100%, rem(408));
                height: rem(350);
            }

            .searchBar {
                width: min(100%, rem(408));
                flex-wrap: wrap !important;

                &__items {
                    *:not(:last-child) {
                        border: 1px solid #E6E6E6;
                        font-size: .9rem;
                    }

                    .searchIcon {
                        background-color: var(--blue);
                        color: white !important;
                        cursor: pointer;
                        @include transition(opacity);

                        &:hover {
                            opacity: .8;
                        }
                    }

                    input {
                        @include transition;

                        &:focus {
                            outline: 1px solid var(--blue);
                        }
                    }
                }
            }
        }
    }
}